<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<style>
    .equal-parts {
        height: 100vh; /* Set the height of the container to 100% of the viewport height */
        display: flex; /* Use flexbox to arrange the columns */
    }

    .equal-parts .col {
        border: 1px solid #ddd; /* Optional: Add borders for visual separation */
        padding: 15px; /* Optional: Add padding for spacing */
    }
</style>

<!--<div class="container equal-parts">-->
<!--    <div class="col-md-3">-->


<!--    </div>-->
    <div>

        <a th:href="@{/source}">Back</a>

        <table class="table table-striped m-3">
            <tr>
                <th>id</th>
                <th>Word</th>
                <th>Meaning</th>
                <th>Category</th>
                <th>Status</th>
                <th>LOI</th>
                <th>Action</th>
            </tr>
            <tr th:each="word : ${words}">
                <td th:text="${word.id}"></td>
                <td th:text="${word.word}"></td>
                <td th:text="${word.meaning}"></td>
                <td th:text="${word.category}"></td>
                <td th:text="${word.status}"></td>
                <td th:text="${word.levelOfImportance}"></td>
                <td>
<!--                    <a th:href="@{/word/info/{id}(id=${word.id})}" class="btn btn-primary">Info</a>-->
<!--                    <a th:href="@{/source/deleteWord(id=${word.id})}" class="btn btn-danger">Delete</a>-->
<!--                    <a th:href="@{/source/showUpdateWord(id=${word.id})}" class="btn btn-primary">Update</a>-->
                    <form action="/source/deleteWord" method="post">
                        <input type="hidden" name="id" th:value="${word.id}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
<!--</div>-->

</body>
</html>